<!-- messages -->
<div class="messages messages-container">
  {% if messages %}
    {% for message in messages %}
    <div class="my-alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  </div>
  
  <script>
  // Remove alert after 4 seconds 
  function removeMessages() {
    setTimeout(() => {
      const messages = document.querySelectorAll('.my-alert');
      messages.forEach((message) => {
        message.remove()
      });
    }, 4000);
  }
  removeMessages();
  </script>