/* accounts */
.profile-dropdown {
  min-width: 100%;
}

.profile-img {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
}

.logout-btn {
  border: none;
  background-color: #fff;
  padding: 0.25rem 1rem;
  width: 100%;
  text-align: left;
}

.logout-btn:hover {
  background-color: #e9ecef;
}

/* messages */
.messages {
  position: relative;
}

.my-alert {
  height: 5vh;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}